

:root {
    --main-color-blue: #2337F1;
    --color-blue1: #4262F3;
    --color-blue2: #5E83F5;
    --color-blue3: #7AA1F7;
    --color-blue4: #98BDF9;
    --color-blue5: #B6D4FB;
    --color-blue6: #D7EAFC;
    --main-color-darkblue: #272839;
    --color-darkblue1: #262B59;
    --color-darkblue1A: #272B59;
    --color-darkblue2: #252E7D;
    --color-darkblue3: #24309A;
    --color-darkblue4: #2433b8;
    --color-darkblue5: #2335D6;
    --color-gray1: #F6F3F3;
    --color-gray2: #e7e4e7;
    --color-gray3: #B4B3B7;
    --color-gray4: #919097;
    --color-gray5: #6E6E78;
    --color-gray6: #494956;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}



  .container-vlm {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--color-gray1)
  }
  


  .container-vlm__isometrica-png{
    width:100%;

  }


  .container-vlm__isometrica-png-title{
    margin-bottom: 20px;
    font-size: 1rem;

  }


  .container-vlm__isometrica-png-img{
    width: 100%;
    margin-top: 25px;

  }

  .container-vlm__isometrica-png-piedeisometrica{
    margin-top: 0;
    font-size: .8rem;
    margin-bottom: 30px;
  }


  .container-vlm__isometrica-svg{
    width: 100%;
  }

  .container-vlm__isometrica-svg-piedeisometrica{
    margin-top: 0;
    font-size: .8rem;
  }



  .container-vlm__img-vlm {
    width: 100%;
  }

  .container-vlm__img-vlm img{
    width: 100%;
    /* box-sizing: content-box */

  }

  .container-vlm__img-vlm p {
    margin-top: 0;
    font-size: .8rem;
  }


.boton-play-pause{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 40px 0;

}


.boton-play-pause__btn{
    
  font-size: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.boton-play-pause p {
  font-size: 2rem;
  text-align: center;
}




/* 

.boton-play-pause{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


#birrete-boton {
  font-size: 5rem;
  background-color: transparent;
  border: none;
}


.boton-play-pause p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  text-align: center;
} */